*{
    margin: 0%;
    padding: 0%;
}
h1{
    color: red;
}
div{
    background-color: antiquewhite;
}
#red, h3{
    color:white;
    background-color: red;
}
.blue{
    background-color: blue;
    color: white;
    border: black 2px solid;
}